.trackit-modal {
  width: 90%;
  height: auto;
  max-height: 90vh;
  border-radius: 8px;
  border: none;
  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 20px;
}

@media (min-width: 768px) {
  .trackit-modal {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .trackit-modal {
    width: 30%;
  }
}

.trackit-modal::backdrop {
  background-color: white;
  opacity: 0.4;
}

.trackit-modal .modal-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-family: "JetBrains Mono", monospace; */
  font-family: "Poppins", serif;
}

.trackit-modal .modal-body {
  width: 100%;
  height: 80%;
}

.modal-body .modal-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-body .modal-form .input-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-body .modal-form label {
  /* font-family: "JetBrains Mono", monospace; */
  font-family: "Poppins", serif;
  font-weight: 500;
}

.modal-body .modal-form input {
  padding-left: 0.8em;
  /* font-family: "JetBrains Mono", monospace; */
  font-family: "Poppins", serif;
  font-weight: 300;
  height: 40%;
  line-height: 1.2;
}

.modal-body .modal-form .input-container.radio-container {
  height: auto;
  min-height: 10%;
  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  
  
  
  /* extra items */
    border-radius:5px ;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;



  
  align-items: center;
}

.input-container.radio-container fieldset {
  width: 100%;
  display: flex;
  justify-content: space-evenly;




  /* extra */
  flex-wrap: wrap;
  gap: 10px;
  border: none;
  margin: 0;
  padding: 0;







  font-size: 0.9em;
  /* border: none; */
}

.input-container.radio-container fieldset label {
  font-family: "JetBrains Mono", monospace;

  /* extra */
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;


}

/* Search bar */

#search-modal {
  width: 30%;
  height: 3vh;
  border: none;
  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 2%;
  border-radius: 5px;
}

#search-modal .search-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#search-modal #search {
  width: 80%;
  height: 100%;
  border: none;
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
}

#search-modal btn {
  width: 20%;
  height: 100%;
}

#gen-ai-modal {
  width: 80%;
  height: 90%;
}

#gen-ai-modal .modal-header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
}
