.navbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
  background-color: #f9fbff;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.778vh;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar .logo-container {
  width: 13%;
  height: 100%;
  color: #4d6bfe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-items {
  /* width: 15%; */
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .navbar-items {
    width: 50%;
  }
}
