body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  /* display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
  /* gap: 20px; */
}

assignment-card.inactive {
  display: none;
  transition: 2s all ease;
}

assignment-card {
  display: block;
  width: 100%;
}
